/* Header Styling */
.header {
    text-align: center;
    padding: 20px;
    background-color: #f4e4df;
  }
  
  .button-container {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 20px;
  }
  
  button {
    padding: 10px 20px;
  }
  
  /* Container for Form and Output */
  .container {
    padding: 20px;
  }
  
  h2 {
    margin-bottom: 10px;
  }
  
  /* Responsive Design */
  @media (max-width: 768px) {
    .button-container {
      flex-direction: column;
    }
  
    .form-field {
      margin-bottom: 10px;
      /* Reduces the margin on smaller screens */
    }
  
    button {
      width: 100%;
      margin-bottom: 10px;
    }
  }
  
  mat-form-field {
    width: 100%;
  }
  
  button {
    margin-top: 20px;
    /* Adds space between the last form field and the button */
  }
  
  .json-container {
    background: rgb(96, 243, 118);
    color: #021014;
    padding: 10px;
    border-radius: 5px;
    overflow-x: auto;
    margin-top: 10px;
    font-family: 'Courier New', monospace;
  }
  
  pre {
    margin: 0;
    /* font-family: 'Courier New', Courier, monospace; */
  }

  .card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-header {
    background-color: #f8f9fa;
}

.card-body {
    padding: 1rem;
}

.card-footer {
    background-color: #f8f9fa;
}